.container {
    margin: auto;
    max-width: 1440px;
    width: 92vw;
    padding-bottom: 55px; 
}

body {
    color: #333333;
    background: #f6f3f2;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 21px;
    line-height: 1.5;
}    

a {
    text-decoration: none;
}

.time {
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
    color: #666666;
    text-transform: uppercase;
}

.title {
    font-family: sans-serif;
    font-size: 28px;
    font-weight: bold;
    line-height: 1.17;
}

 .title-link:hover,
.explore-link:hover {
    color: #d33a2c;
    transition: color .3s ease-out
}

.card-cat .title a {
    font-size: 45px;
    color: #f6f3f2;
    
}

.card-cat .content {
    color: white;
  
    padding-top: 30px;
}

.title-link {
    color: #111111;
    text-shadow:
        3px 0 #f6f3f2, 2px 0 #f6f3f2,
        1px 0 #f6f3f2, -1px 0 #f6f3f2,
        -2px 0 #f6f3f2, -3px 0 #f6f3f2;

    background-image: linear-gradient(#2da2c5, #2da2c5);
    background-repeat: no-repeat;
    background-size: 100% 1.5px;
    background-position-y: 96%;

    transition: color .1s ease-out;
}

.author {
    font-family: sans-serif;
    font-size: 17px;
    color: #666666;
}

.more-link {
    position: absolute;
    left: -30px;
    bottom: 30px;

    display: block;
    width: 120px;
    height: 120px;

    font-size: 30px;
    text-align: center;
    line-height: 120px;
    color: #2da2c5;

    transition: all .2s ease-out;
}

.card:hover .more-link {
    color: #fff;
    background: #2da2c5;
}

.explore-link {
    display: block;
    border: 1px solid white;
    border-radius: 10px;
    margin: auto;
    padding-top: 12px; 

    height: 60px;
    width: 250px;
    
    background: white;
    font-size: 20px;
    font-weight: bold;
    color: #3775b6;
}

small {
    display: block;
    margin-top: 15px;

    font-size: 16px;
    color: white;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: calc(100% / 3);
    padding: 0px 1em 150px 1em;
    margin-bottom: 25px;
}

.card:not(.card-cat):hover {
    transform: scale(1.02);
    z-index: 20;
}

.card-cat {
    flex-grow: 1;
    border-radius: 11px;
    padding: 10px 140px 50px 140px;
    background: #d33a2c;
    text-align: center;
}


.content {
    margin-bottom: 35px;
}

.card::before {
    position: absolute;
    left: -30px;
    top: -30px;

    display: block;
    width: calc(100% + 60px);
    height: 100%;

    transition: background-color .1s ease-out;
    background-color: transparent;

    content: '';
}

.card:not(.card-cat):hover::before {
    background-color: #fff;
    box-shadow: 0 0 40px rgba(0, 0, 0, .15);
    transition: all .2s ease-out;
}

.post {
    position: relative;
    z-index: 10;
}

.pseudo-header {
    position: relative;
    z-index: 20;

    height: 60px;
    margin-bottom: 40px;

    background: #b13125;
}

.page-title {
    display: block;
    max-width: 280px;
    margin: 0;

    text-align: right;
    text-transform: uppercase;
    font-size: 15px;
    color: #222;
    letter-spacing: 4px;
    line-height: 1;

    background-image: linear-gradient(currentColor, currentColor);
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: center;

    transform-origin: left center;
    transform: rotateZ(90deg) translateX(-72px) translateY(1em);

}

.page-title span {
    position: relative;
    top: .1em;

    display: inline-block;
    padding: 0 .6em;

    background-color: #f6f3f2;
}