.container {
    margin: auto;
    max-width: 1440px;
    width: 92vw;
    padding-bottom: 55px; 
}

body {
    color: #333333;
    background: #f6f3f2;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 21px;
    line-height: 1.5;
}    

a {
    text-decoration: none;
}

.time {
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
    color: #666666;
    text-transform: uppercase;
}

.title {
    font-family: sans-serif;
    font-size: 28px;
    font-weight: bold;
    line-height: 1.17;
}

.title:hover,
.explore-link:hover {
    color: #d33a2c;
    transition: color 1s ease-out
}

.card-cat .title {
    font-size: 45px;
    
}

.title-link {
    color: #111111;
    text-shadow:
        3px 0 #f6f3f2, 2px 0 #f6f3f2,
        1px 0 #f6f3f2, -1px 0 #f6f3f2,
        -2px 0 #f6f3f2, -3px 0 #f6f3f2;

    background-image: linear-gradient(#2da2c5, #2da2c5);
    background-repeat: no-repeat;
    background-size: 100% 1.5px;
    background-position-y: 92%;

    transition: color .1s ease-out;
}

.author {
    font-family: sans-serif;
    font-size: 17px;
    color: #666666;
}

.more-link {
    position: absolute;
    left: -30px;
    bottom: 30px;

    display: block;
    width: 120px;
    height: 120px;

    font-size: 30px;
    text-align: center;
    line-height: 120px;
    color: #2da2c5;

    transition: all .2s ease-out;
}

.explore-link {
    font-size: 20px;
    color: #3775b6;
}

small {
    font-size: 16px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: calc(100% / 3);
    padding: 0px 1em 150px 1em;
    margin-bottom: 25px;
}

.card:not(.card-cat):hover {
    transform: scale(1.02);
    z-index: 20;
}

.card-cat {
    flex-grow: 1;
    border-radius: 11px;
    padding-bottom: 75px;
}

.content {
    margin-bottom: 35px;
}

.card::before {
    position: absolute;
    left: -30px;
    top: -30px;

    display: block;
    width: calc(100% + 60px);
    height: 100%;

    transition: background-color .1s ease-out;
    background-color: transparent;

    content: '';
}

.card:not(.card-cat):hover::before {
    background-color: #fff;
    box-shadow: 0 0 40px rgba(0, 0, 0, .15);
    transition: all .2s ease-out;
}

.post {
    position: relative;
    z-index: 10;
}